<div class="hb_breadcrumbs_wrapper">
	<div class="hb_overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 wow fadeIn" data-wow-delay="1s">
				<div class="hb_pageheading">
					<h3>blog single</h3>
					<ol class="breadcrumb">
						<li><a href="index-2.html">Home</a></li>
						<li class="active">blog single</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="hb_white_wrapper blog_single hb_toppadder80 hb_bottompadder40">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 col-lg-push-3 col-md-push-3">
				<div class="hb_blog_div ">
					<div class="hb_blog_img wow fadeInUp">
						<img src="assets/images/blog_medium1.jpg" class="img-responsive" alt="image">
					</div>
					<div class="hb_blog_content wow fadeInUp">
						
						<div class="clearfix"></div>
						<h3>At vero eos et accusamus et</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque diam finibus augue pretium.Quisque nec elit commodo, dictum tortor a, blandit lectus. Aenean rutrum egestas nisl, ut dignissim lectus maximus quis. Sed lacus felis, malesuada vel aliquam imperdiet, luctus sed felis. Nulla facilisi. Fusce efficitur finibus odio sed efficitur. Mauris pretium elit velit, sed suscipit tellus mattis id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc commodo vestibulum fermentum.</p>
						<blockquote>
							<p>“Vestibulum gravida dapibus dolor. Sed sed justo placerat, tempus purus nec, faucibus dui.Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed pretium tellus et gravida molestie. Mauris facilisis justo sit amet ante congue, vel ullamcorper erat maximus. ”</p>
						</blockquote>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque diam finibus augue pretium.Quisque nec elit commodo, dictum tortor a, blandit lectus. Aenean rutrum egestas nisl, ut dignissim lectus maximus quis. Sed lacus felis, malesuada vel aliquam imperdiet, luctus sed felis. Nulla facilisi. Fusce efficitur finibus odio sed efficitur. Mauris pretium elit velit, sed suscipit tellus mattis id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc commodo vestibulum fermentum.</p>
						
					</div>
				</div>
				<div class="hb_commentdiv wow zoomIn">
					<h3>comments(4)</h3>
					<ol class="comment-list">
						<li class="comment">
							<div class="hb_blog_comment">
								<div class="hb_author_img">
									<img src="assets/images/comment1.jpg" class="img-responsive" alt="image">
								</div>
								<div class="hb_comment_text">
									<h4><a href="#">Peter Parker</a></h4>
									<p>Pellentesque lobortis faucibus tincidunt. Proin posuere luctus cursus. Cras non eleifend nibh, vel porttitor metus. Pellentesque tincidunt purus id ante</p>
									<span><i class="flaticon-counterclockwise"></i>8 Hours Ago</span>
								</div>
							</div>
							<ul class="children">	
								<li class="comment">
									<div class="hb_blog_comment">
										<div class="hb_author_img">
											<img src="assets/images/comment2.jpg" class="img-responsive" alt="image">
										</div>
										<div class="hb_comment_text">
											<h4><a href="#">Michael	Davies</a></h4>
											<p>Pellentesque lobortis faucibus tincidunt. Proin posuere luctus cursus. Cras non eleifend nibh, vel porttitor metus. Pellentesque tincidunt purus id ante</p>
											<span><i class="flaticon-counterclockwise"></i>8 Hours Ago</span>
										</div>
									</div>
								</li>
							</ul>
						</li>
						<li class="comment">
							<div class="hb_blog_comment">
								<div class="hb_author_img">
									<img src="assets/images/comment3.jpg" class="img-responsive" alt="image">
								</div>
								<div class="hb_comment_text">
									<h4><a href="#">Rachel Scott</a></h4>
									<p>Pellentesque lobortis faucibus tincidunt. Proin posuere luctus cursus. Cras non eleifend nibh, vel porttitor metus. Pellentesque tincidunt purus id ante</p>
									<span><i class="flaticon-counterclockwise"></i>8 Hours Ago</span>
								</div>
							</div>
							<ul class="children">	
								<li class="comment">
									<div class="hb_blog_comment">
										<div class="hb_author_img">
											<img src="assets/images/comment4.jpg" class="img-responsive" alt="image">
										</div>
										<div class="hb_comment_text">
											<h4><a href="#">Ryan Ogden</a></h4>
											<p>Pellentesque lobortis faucibus tincidunt. Proin posuere luctus cursus. Cras non eleifend nibh, vel porttitor metus. Pellentesque tincidunt purus id ante</p>
											<span><i class="flaticon-counterclockwise"></i>8 Hours Ago</span>
										</div>
									</div>
								</li>
							</ul>
						</li>
					</ol>
				</div>
				<div class="hb_comment_respond wow fadeIn">
					<h3>leave a comment</h3>
					<form class="hb_comment_form">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Name*">
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Email*">
								</div>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="form-group">
									<textarea class="form-control" placeholder="Message" rows="7"></textarea>
								</div>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<button class="hb_btn">send</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 col-lg-pull-9 col-md-pull-9">
				<div class="hb_sidebar wow fadeInUp">
					<div class="widget widget_categories">
						<h3 class="widget-title">Categories</h3>
						<ul>
							<li><a href="#">Herbal Tea <span>40</span></a></li>
							<li><a href="#">Herbal Medicine <span>22</span></a></li>
							<li><a href="#">Herbal Oil <span>65</span></a></li>
							<li><a href="#">Organic Tea <span>07</span></a></li>
							<li><a href="#">Organic Oil <span>13</span></a></li>
						</ul>
					</div>
					<div class="widget widget_recentpost wow fadeInUp">
						<h3 class="widget-title">Recent posts</h3>
						<ul>
							<li>
								<div class="hb_post_img">
									<img src="assets/images/recent_post1.jpg" class="img-responsive" alt="image">
									<div class="hb_img_overlay"></div>
								</div>
								<div class="hb_post_data">
									<h3><a href="#">Donec gravida risus ut ex efficitur</a></h3>
									<span><i class="flaticon-counterclockwise"></i>8 Hours Ago</span>
								</div>
							</li>
							<li>
								<div class="hb_post_img">
									<img src="assets/images/recent_post2.jpg" class="img-responsive" alt="image">
									<div class="hb_img_overlay"></div>
								</div>
								<div class="hb_post_data">
									<h3><a href="#">Donec gravida risus ut ex efficitur</a></h3>
									<span><i class="flaticon-counterclockwise"></i>8 Hours Ago</span>
								</div>
							</li>
							<li>
								<div class="hb_post_img">
									<img src="assets/images/recent_post3.jpg" class="img-responsive" alt="image">
									<div class="hb_img_overlay"></div>
								</div>
								<div class="hb_post_data">
									<h3><a href="#">Donec gravida risus ut ex efficitur</a></h3>
									<span><i class="flaticon-counterclockwise"></i>8 Hours Ago</span>
								</div>
							</li>
						</ul>
					</div>
					<div class="widget widget_gallery wow fadeInUp">
						<h3 class="widget-title">Recent posts</h3>
						<ul>
							<li>
								<a href="#">
									<img src="assets/images/footer_gallery1.jpg" class="img-responsive" alt="image">
									<div class="hb_img_overlay"></div>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="assets/images/footer_gallery2.jpg" class="img-responsive" alt="image">
									<div class="hb_img_overlay"></div>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="assets/images/footer_gallery3.jpg" class="img-responsive" alt="image">
									<div class="hb_img_overlay"></div>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="assets/images/footer_gallery4.jpg" class="img-responsive" alt="image">
									<div class="hb_img_overlay"></div>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="assets/images/footer_gallery5.jpg" class="img-responsive" alt="image">
									<div class="hb_img_overlay"></div>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="assets/images/footer_gallery6.jpg" class="img-responsive" alt="image">
									<div class="hb_img_overlay"></div>
								</a>
							</li>
						</ul>
					</div>
					<div class="widget widget_tag_cloud wow fadeInUp">
						<h3 class="widget-title">tags</h3>
						<div class="tagcloud">
							<a href="#">Accessories</a>
							<a href="#">Green Tea</a>
							<a href="#">Fat Loss</a>
							<a href="#">Organic Products</a>
							<a href="#">Black</a>
							<a href="#">Healing</a>
						</div>
					</div>
					<div class="widget widget_text wow fadeInUp">
						<h3 class="widget-title">Text Widget</h3>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>