.h11 {
  font-weight: 600;
  color: #395f13;
}

.hr1 {
  margin: 6px 0px;
  opacity: 0.5;
  background: rgb(0 0 0 / 28%);
}
.matclndr {
  border: 1px solid;
}
.h12 {

  border-radius: 5px 5px 0px 0px;
  padding: 8px 0px;
  margin: 0px;
  background-color: #395f13;
  color: white;
}

// border: 1px solid;
// border-radius: 5px 5px 0px 0px;
// padding: 8px 0px;
// margin: 0px;
// background-color: #395f13;
// color: white;

// .payment-modal {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// .upload-section {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   margin-top: 20px;
// }
// .upload-section {
//   max-width: 500px;
//   display: flex;
//   justify-content: space-between;
// }

// .upload-section .btn-primary{
//   align-items: center;
//   display: flex;
// }

// .screenshot-preview img {
//   max-width: 500px;
//   margin-top: 10px;
//   border: 1px solid #ccc;
//   padding: 5px;
//   border-radius: 5px;
// }

// .uploadScreenshot{
//     display: flex;
//     justify-content: space-around;
//     background-color: white;
//     padding: 20px;
//     max-width: 1000px;
//     margin: 20px auto;
// }
