<!-- qr-payment-dialog.component.html -->
<mat-card class="dialog-container">
    <div style="display: flex; justify-content: space-between; background-color: #395f13;">
      <img src="../../../../../assets/images/logo/always_green_logo.png" class=" w-18" style="    width: 18% !important;
      padding: 4px 8px;">
      <h2 mat-dialog-title style="color: white;">Products List</h2>
      <button class="closeBtn" mat-icon-button [mat-dialog-close]="false">
        <mat-icon class="close-icon" style="color: white;">close</mat-icon>
      </button>
    </div>
  
  
    <mat-dialog-content>
        <div class="container-fluid">
            <div class="row justify-content-between mb-2">
                <div class="col-md-auto">
                    <h2>Products</h2>
                </div>
                <div class="col-md-3 col-12 ">
                    <!-- <mat-form-field class="example-full-width ">
                        <mat-label>Search </mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Search Order" #input />
                    </mat-form-field> -->
                </div>
            </div>
            <div class="row user-list-table">
                <div class="table-responsive">
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table" matSort>
<!--         
                        <ng-container matColumnDef="sr_no">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Sr. No. </th>
                            <td mat-cell *matCellDef="let element; let i = index;"> {{element.tableIndex}} </td>
                        </ng-container> -->
        
                        <!-- Product Image Column -->
                        <ng-container matColumnDef="product_image">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Product </th>
                            <td mat-cell *matCellDef="let element">
                                <img [src]="prefixViewPath + element.product.product_image"
                                    alt="{{element.product.product_name}}" width="50px">
                            </td>
                        </ng-container>
        
                        <!-- Product Name Column -->
                        <ng-container matColumnDef="product_name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.product.product_name}} </td>
                        </ng-container>
        
                      
        
                        <!-- Quantity Column -->
                        <ng-container matColumnDef="quantity">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
                            <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
                        </ng-container>

                          <!-- Category Name Column -->
                          <ng-container matColumnDef="bv_per_unit">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> BV/Unit </th>
                            <td mat-cell *matCellDef="let element"> {{ element.product.business_volume}}
                            </td>
                        </ng-container>

                          <ng-container matColumnDef="bv">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Business Volume(BV) </th>
                            <td mat-cell *matCellDef="let element"> {{element.quantity * element.product.business_volume}}
                            </td>
                        </ng-container>
        
                        <!-- Price per Unit Column -->
                        <ng-container matColumnDef="price_per_unit">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Price/Unit </th>
                            <td mat-cell *matCellDef="let element"> ₹{{element.price_per_unit}} </td>
                        </ng-container>
        
        
        
                        <!-- Total Amount Column -->
                        <ng-container matColumnDef="total_amount">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Amount </th>
                            <td mat-cell *matCellDef="let element"> ₹{{element.total_price}} </td>
                        </ng-container>
        
        
        
        
                    
        
                        <!-- Payment Verify Column -->
                   
        
                        <!-- Header and Row Declarations -->
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
                    </table>
                </div>
            </div>
        
            <!-- <div class="row mt-3">
                <div class="col-12">
                    <div class="paginator-container ">
                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of User List"
                            class="bg-transparent"></mat-paginator>
                    </div>
                </div>
            </div> -->
        
        </div>
    </mat-dialog-content>
  
    <mat-dialog-actions class="action-buttons">
      <!-- <button mat-raised-button color="warn" mat-dialog-close>Cancel</button> -->
    </mat-dialog-actions>


  </mat-card>
  
