<div class="hb_breadcrumbs_wrapper">
	<div class="hb_overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 wow fadeIn" data-wow-delay="1s">
				<div class="hb_pageheading">
					<h3>Blog</h3>
					<ol class="breadcrumb">
						<li><a href="index-2.html">Home</a></li>
						<li class="active">blog</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="hb_white_wrapper hb_blog hb_toppadder80 hb_bottompadder42">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 col-lg-push-3 col-md-push-3">
				<div class="hb_blog_div wow fadeInUp">
					<div class="hb_blog_img">
						<img src="assets/images/blog_medium1.jpg" class="img-responsive" alt="image">
						<div class="hb_img_overlay"></div>
						<div class="hb_overlay_icon">
							<a href="assets/images/blog_big1.jpg" class="zoom_icon"><i class="flaticon-search-2"></i></a>
						</div>
					</div>
					<div class="hb_blog_content">
						
						<div class="clearfix"></div>
						<h3><a href="blog_single.html">At vero eos et accusamus et</a></h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque diam finibus augue pretium.Quisque nec elit commodo, dictum tortor a, blandit lectus. Aenean rutrum egestas nisl, ut dignissim lectus maximus quis. Sed lacus felis, malesuada vel aliquam imperdiet, luctus sed felis. Nulla facilisi. Fusce efficitur finibus odio sed efficitur. Mauris pretium elit velit, sed suscipit tellus mattis id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc commodo vestibulum fermentum.</p>
						<div class="hb_authorname">Peter Parker</div>
						<div class="hb_custom_links">
							<ul>
								<li><a href="#"><i class="flaticon-favorite-heart-button"></i>24</a></li>
								<li><a href="#"><i class="flaticon-eye"></i>51</a></li>
								<li><a href="#"><i class="flaticon-speech-bubbles-comment-option"></i>04</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="hb_blog_div wow fadeInUp">
					<div class="hb_blog_img">
						<img src="assets/images/blog_medium2.jpg" class="img-responsive" alt="image">
						<div class="hb_img_overlay"></div>
						<div class="hb_overlay_icon">
							<a href="assets/images/blog_big2.jpg" class="zoom_icon"><i class="flaticon-search-2"></i></a>
						</div>
					</div>
					<div class="hb_blog_content">
						
						<div class="clearfix"></div>
						<h3><a href="blog_single.html">Et harum quidem rerum facilis</a></h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque diam finibus augue pretium.Quisque nec elit commodo, dictum tortor a, blandit lectus. Aenean rutrum egestas nisl, ut dignissim lectus maximus quis. Sed lacus felis, malesuada vel aliquam imperdiet, luctus sed felis. Nulla facilisi. Fusce efficitur finibus odio sed efficitur. Mauris pretium elit velit, sed suscipit tellus mattis id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc commodo vestibulum fermentum.</p>
						<div class="hb_authorname">Peter Parker</div>
						<div class="hb_custom_links">
							<ul>
								<li><a href="#"><i class="flaticon-favorite-heart-button"></i>24</a></li>
								<li><a href="#"><i class="flaticon-eye"></i>51</a></li>
								<li><a href="#"><i class="flaticon-speech-bubbles-comment-option"></i>04</a></li>
							</ul>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="hb_pagination blog_pagination wow fadeInLeft">
							<nav aria-label="Page navigation">
								<ul class="pagination">
									<li><a href="#" aria-label="Next"><i class="fa fa-angle-left"></i></a></li>
									<li><a href="#" class="active">1</a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#" aria-label="Next"><i class="fa fa-angle-right"></i></a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 col-lg-pull-9 col-md-pull-9">
				<div class="hb_sidebar">
					<div class="widget widget_categories wow fadeInUp">
						<h3 class="widget-title">Categories</h3>
						<ul>
							<li><a href="#">Herbal Tea <span>40</span></a></li>
							<li><a href="#">Herbal Medicine <span>22</span></a></li>
							<li><a href="#">Herbal Oil <span>65</span></a></li>
							<li><a href="#">Organic Tea <span>07</span></a></li>
							<li><a href="#">Organic Oil <span>13</span></a></li>
						</ul>
					</div>
					<div class="widget widget_recentpost wow fadeInUp">
						<h3 class="widget-title">Recent posts</h3>
						<ul>
							<li>
								<div class="hb_post_img">
									<img src="assets/images/recent_post1.jpg" class="img-responsive" alt="image">
									<div class="hb_img_overlay"></div>
								</div>
								<div class="hb_post_data">
									<h3><a href="#">Donec gravida risus ut ex efficitur</a></h3>
									<span><i class="flaticon-counterclockwise"></i>8 Hours Ago</span>
								</div>
							</li>
							<li>
								<div class="hb_post_img">
									<img src="assets/images/recent_post2.jpg" class="img-responsive" alt="image">
									<div class="hb_img_overlay"></div>
								</div>
								<div class="hb_post_data">
									<h3><a href="#">Donec gravida risus ut ex efficitur</a></h3>
									<span><i class="flaticon-counterclockwise"></i>8 Hours Ago</span>
								</div>
							</li>
							<li>
								<div class="hb_post_img">
									<img src="assets/images/recent_post3.jpg" class="img-responsive" alt="image">
									<div class="hb_img_overlay"></div>
								</div>
								<div class="hb_post_data">
									<h3><a href="#">Donec gravida risus ut ex efficitur</a></h3>
									<span><i class="flaticon-counterclockwise"></i>8 Hours Ago</span>
								</div>
							</li>
						</ul>
					</div>
					<div class="widget widget_gallery wow fadeInUp">
						<h3 class="widget-title">Recent posts</h3>
						<ul>
							<li>
								<a href="#">
									<img src="assets/images/footer_gallery1.jpg" class="img-responsive" alt="image">
									<div class="hb_img_overlay"></div>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="assets/images/footer_gallery2.jpg" class="img-responsive" alt="image">
									<div class="hb_img_overlay"></div>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="assets/images/footer_gallery3.jpg" class="img-responsive" alt="image">
									<div class="hb_img_overlay"></div>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="assets/images/footer_gallery4.jpg" class="img-responsive" alt="image">
									<div class="hb_img_overlay"></div>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="assets/images/footer_gallery5.jpg" class="img-responsive" alt="image">
									<div class="hb_img_overlay"></div>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="assets/images/footer_gallery6.jpg" class="img-responsive" alt="image">
									<div class="hb_img_overlay"></div>
								</a>
							</li>
						</ul>
					</div>
					<div class="widget widget_tag_cloud wow fadeInUp">
						<h3 class="widget-title">tags</h3>
						<div class="tagcloud">
							<a href="#">Accessories</a>
							<a href="#">Green Tea</a>
							<a href="#">Fat Loss</a>
							<a href="#">Organic Products</a>
							<a href="#">Black</a>
							<a href="#">Healing</a>
						</div>
					</div>
					<div class="widget widget_text wow fadeInUp">
						<h3 class="widget-title">Text Widget</h3>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>