
<div class="container-fluid d-flex justify-content-between">
    <div class="three">
      <h1>User Dashboard</h1>
    </div>
  <div *ngIf="userData">
   
    <button mat-raised-button color="primary" *ngIf="userData.status === 'Active'" >
      Active
    </button>
    <button mat-raised-button color="warn" *ngIf="userData.status === 'Inactive'">
      Inactive
    </button>
  </div>
</div>


<div class="dashboard-summary">
  <div class="summary-card" *ngFor="let card of summaryCards" [ngStyle]="{'background-color': card.BgColor}">
    <div class="card-icon" [ngStyle]="{'background-color': card.iconBgColor, 'color': card.iconColor}">
      <mat-icon>{{ card.icon }}</mat-icon>
    </div>
    <div class="card-content">
      <h4>{{ card.title }}</h4>
      <p>{{ card.value }}</p>
    </div>
  </div>
</div>
<!-- <div class="dashboard-summary">
  <div class="summary-card"  style="background-color: red;">
    <div class="card-icon" style="background-color:  #ffffff; color: #4CAF50">
      <mat-icon> bar_chart </mat-icon>
    </div>
    <div class="card-content">
      <h4>Total Bv</h4>
      <p>{{ 00 }}</p>
    </div>
  </div>

</div> -->