
@import "../../../../../assets/styles/component/inputs.scss";

.container11 {
  max-width: 900px !important;
  margin: 50px auto !important;

  background: #fff !important;
  border: 2px solid #000 !important;
}

/* Header */
.invoice-header {
  display: flex !important;
  justify-content: space-around !important;
}
.invoice-header,
.terms {
  font-size: 14px !important;
}
.invoice-Detail-section {
  display: flex !important;
  border-bottom: 2px solid #000 !important;
}

.table th,
.table td {
  font-size: 13px !important;
  vertical-align: middle !important;
}

/* Table Styling */
.table {
  width: 100% !important;
  border-collapse: collapse !important;
}

.table th,
.table td {
  border: 1px solid #000 !important;
  padding: 8px !important;
  text-align: center !important;
}

/* Grand total styling */
.grand-total {
  font-weight: bold !important;
  font-size: 16px !important;
}

.terms {
  font-size: 12px !important;
}

/* Add margin to elements */
.mrgnp-0 p {
  margin: 0 !important;
}

/* Responsive Image */
.invoice-header img {
  width: 120px !important;
  height: auto !important;
}

/* Section Styles */
.section {
  padding: 8px !important;
  width: 300px;
}
.section p {
  margin: 5px 0px !important;
}

.text-center {
  text-align: center !important;
}

.text-end {
  text-align: end !important;
}

/* Grand Total Section */
.grand-total-section {
  font-weight: bold !important;
  font-size: 16px !important;
  text-align: right !important;
}

.terms ol {
  padding-left: 20px !important;
}

.terms ol li {
  font-size: 12px !important;
}

.signature {
  margin-top: 50px !important;
}

.signature p {
  font-size: 14px !important;
}

.sec1 {
  max-width: 300px !important;
}
.sec2 {
  max-width: 300px !important;
  justify-content: center !important;
  align-items: center !important;
  display: flex !important;
}

.secc1 h2 {
    font-size: 1.5em !important;
    color: #000;
    font-weight: 500;
    line-height: normal;
}
.secc1 p{
    font-size: 14px !important;
    line-height: 1;
}


.txtcntr{
  text-align: center;
}

/* .table td:nth-child(3) {
    max-width: 200px;
} */


@media print {
  #reportContent {
    font-size: 12px;
    line-height: 1.2;
  }
}