<div class="hb_breadcrumbs_wrapper">
	<div class="hb_overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 wow fadeIn" data-wow-delay="1s">
				<div class="hb_pageheading">
					<h3>cart</h3>
					<ol class="breadcrumb">
						<li><a href="index-2.html">Home</a></li>
						<li class="active">cart</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="hb_white_wrapper hp_cart hb_toppadder75">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="woocommerce wow fadeInUp">
					<div class="table-responsive">
						<table class="shop_table shop_table_responsive cart">
							<tr>
								<th>Product</th>
								<th>Name</th>
								<th>Price</th>
								<th>quantity</th>
								<th>Total</th>
								<th>Remove</th>
							</tr>
							<tr>
								<td>
									<span><img src="assets/images/cart_page1.jpg" class="img-responsive" alt="image"></span>
								</td>
								<td>
									<p><a href="shop_single.html">Keemun Tea</a></p>
								</td>
								<td>
									<p>$15</p>
								</td>
								<td>
									<div class="hb_quantity">
										<input type="number" min="0" class="hb_input" placeholder="Quantity">
									</div>
								</td>
								<td>
									<p>$75</p>
								</td>
								<td>
									<span><a href="#" class="hb_closebtn"><i class="fa fa-times"></i></a></span>
								</td>
							</tr>
							<tr>
								<td>
									<span><img src="assets/images/cart_page2.jpg" class="img-responsive" alt="image"></span>
								</td>
								<td>
									<p><a href="shop_single.html">Black Tea</a></p>
								</td>
								<td>
									<p>$15</p>
								</td>
								<td>
									<div class="hb_quantity">
										<input type="number" min="0" class="hb_input" placeholder="Quantity">
									</div>
								</td>
								<td>
									<p>$75</p>
								</td>
								<td>
									<span><a href="#" class="hb_closebtn"><i class="fa fa-times"></i></a></span>
								</td>
							</tr>
						</table>
					</div>
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 wow fadeInLeft">
							<div class="coupon">
								<h3>Coupon Code</h3>
								<input type="text" name="coupon_code" class="input-text" id="coupon_code" value="" placeholder="Coupon code"> <input type="submit" class="button hb_coupon_btn" name="apply_coupon" value="Apply">
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12  wow fadeInRight">
							<div class="cart_totals">
								<div class="cart_total_inner">
									<h2>cart total</h2>
									<table class="shop_table shop_table_responsive">
										<tr class="cart-subtotal">
											<th>Sub total</th>
											<td data-title="Subtotal"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>150.00</span></td>
										</tr>
										<tr class="cart-lessamount">
											<th>Less Discounts</th>
											<td data-title="Less_Discount"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">- $</span>50.00</span></td>
										</tr>
										<tr class="order-total">
											<th>Total</th>
											<td data-title="Total"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>100.00</span></td>
										</tr>
									</table>
									<div class="wc-proceed-to-checkout">
										<a href="checkout.html" class="checkout-button hb_btn">Proceed to Checkout</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>