<div class="hb_footer_wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
				<div class="hb_footerdiv wow fadeInUp" data-wow-delay="0.5s">
					<a href="javascript:void(0);"><img style="width: 100%;" src="../../../../../../assets/images/logo//always_green_logo.png" class="img-responsive w-50" alt="herbal-pure-footer-logo"></a>
					<p>Always GreenLive is a health products manufacturing and selling company founded by business professionals...</p>
					<div class="hb_social_icon">
						<ul>
							<li><a href="#" class="wow fadeIn" data-wow-delay="0.8s"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" class="wow fadeIn" data-wow-delay="1s"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#" class="wow fadeIn" data-wow-delay="1.2s"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#" class="wow fadeIn" data-wow-delay="1.4s"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
				<div class="hb_footerdiv wow fadeInUp" data-wow-delay="0.5s">
					<h3>Recent Post</h3>
					<ul class="hb_footer_blog">
						<li>
							<div class="hb_fb_img">
								<img src="../../../../../../assets/images/logo//always_green_logo.png" class="img-responsive w-25" alt="herbal-pure-footer-recent-post-1">
								<div class="hb_fb_overlay"></div>
							</div>
							<div class="hb_fb_data">
								<a href="#"><h2>Donec gravida risus ut ex efficitur</h2></a>
								<span><i class="flaticon-counterclockwise"></i>8 Hours Ago</span>
							</div>
						</li>
						<li>
							<div class="hb_fb_img">
								<img src="assets/images/recent_post2.jpg" class="img-responsive" alt="herbal-pure-footer-recent-post-2">
								<div class="hb_fb_overlay"></div>
							</div>
							<div class="hb_fb_data">
								<a href="#"><h2>Donec gravida risus ut ex efficitur</h2></a>
								<span><i class="flaticon-counterclockwise"></i>8 Hours Ago</span>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
				<div class="hb_footerdiv wow fadeInUp" data-wow-delay="0.5s">
					<h3>Get in touch</h3>
					<ul class="hb_footer_contact">
						<li>
							<span><i class="flaticon-close-envelope"></i></span>
							<p><a href="#">info@alwaysgreen@mail.com</a></p>
						</li>
						<li>
							<span><i class="flaticon-telephone"></i></span>
							<p>+91 9999xxxxx9</p>
						</li>
						<li>
							<span><i class="flaticon-home"></i></span>
							<p>Block A, New Industrial Twp 3, New Industrial Township, Faridabad, Haryana 121001</p>
						</li>
					</ul>
				</div>
			</div>
			<!-- <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
				<div class="hb_footerdiv wow fadeInUp" data-wow-delay="0.5s">
					<h3>subscribe</h3>
					<p>Get our latest news, updates, special offers. Enter your e-mail and subscribe to our newsletter.</p>
					<div class="hb_subscribe_form">
						<form>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Enter Your Email">
								<button class="hbb_btn"><i class="fa  fa-send"></i></button>
							</div>
							
						</form>
					</div>
					
				</div>
			</div> -->
		</div>
	</div>
</div>
<div class="hb_copyright_wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<p>Copyright © 2024 Always Greenlive, All Rights Reserved.
				</p>
			</div>
		</div>
	</div>
</div>