
<div class="container-fluid py-2  ">
    <div class=" row flex-wrap align-items-center justify-content-end">
     <div class="col-auto">
      <button class="closeBtn" mat-icon-button [mat-dialog-close]="false">
        <mat-icon class="close-icon">close</mat-icon>
      </button>
     </div>
    </div>

    <div class="row text-center py-1" >
      <h2 *ngIf="data.status ==='Inactive'">Are you sure you want to Activate this user ?</h2>
      <h2 *ngIf="data.status ==='Active'">Are you sure you want to Deactivate this user ?</h2>    
    </div>
    <div class="row justify-content-center">
      <div class="col-auto my-2">
        <button type="button" class="website-submit-btn  green-success-btn" mat-dialog-close="true" (click)="updateStatus()">CONFIRM</button>
      </div>
       <div class="col-auto my-2">
        <button type="button" class="website-submit-btn red-abort-btn" [mat-dialog-close]="false">CANCEL</button>
       </div>
    </div>
  </div>